.body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border: 20px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

:root {
  --header-color: #000000;
  --primary-text-color: #ffffff;
  --second-text-color: #212121;
  --accent-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
}

/*--------------------- header-------------------- */
.header {
  padding-top: 19px;
  padding-bottom: 30px;
}
.header-container {
  display: flex;
}
.header-connect {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-connect {
  margin-right: 50px;
}
.header-connect {
  margin-left: auto;
  align-items: center;
}

.top-line-link {
  color: #2196f3;
}
.top-line {
  color: var(--header-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;
}
.header-line {
  display: flex;
}
.header-line {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.topline {
  display: flex;
}
.topline {
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.topline:hover,
.topline:focus {
  color: var(--accent-color);
}
.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
/*------------------ main---------------------------*/

.cap-link {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.section-cap-link {
  padding-left: 452px;
  padding-top: 200px;
  padding-bottom: 280px;
  padding-right: 452px;
}
.section-1 {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}
.button-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.button-link {
  width: 200px;
  height: 50px;
  border-radius: 4px;
}
.button-link {
  margin-top: 30px;
  margin-left: 165px;
}
.btn {
  background-color: #2196f3;
}
.main-section {
  padding-top: 73px;
}

.main-container {
  display: flex;
}
.mainlink-section {
  display: flex;
  align-items: center;
}
.mainlink {
  margin-top: 86px;
  margin-bottom: 50px;
  margin-left: 370px;
  margin-right: 227px;
}
.img-section :not(late-chaild) {
  margin-right: 30px;
}
.mainlink {
  margin-top: 188px;
  margin-bottom: 50px;
}
.main-sect {
  margin-bottom: 94px;
}
.team-link {
  margin-top: 30px;
  margin-left: 60px;
}

.position-link {
  margin-top: 10px;
  margin-left: 70px;
}
.main-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.content-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
}
.content-link-section {
  width: 270px;
  height: 75px;
}
.mainlink {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.position-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*-------------- foote------------- */

.footer-section {
  padding-top: 60px;
  padding-bottom: 161px;
}
.footer-nav {
  margin-top: 20px;
}
.fooret-main {
  margin-bottom: 9px;
}

.footer-line {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-line-link {
  color: var(--accent-color);
}
.address-link {
  font-style: normal;
}
.adds-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.add-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adds-link:hover,
.adds-link:focus {
  color: var(--accent-color);
}
.add-link:hover,
.add-link:focus {
  color: var(--accent-color);
}

.section {
  width: 1600px;
  height: 252px;
  background-color: var(--second-text-color);
}
/*----------------- portfolio----------------------------- */

/*------------------- head-------------------------- */
.head-link {
  margin-right: 93px;
}
.hea-link {
  margin-right: 50px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header {
  background-color: var(--primary-text-color);
}

.head-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.headlink {
  color: var(--accent-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.navlink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.hea-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.hea-link:hover,
.hea-link :focus {
  color: var(--accent-color);
}
.but-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.btt {
  background-color: #f5f4fa;
}

.btt:hover,
.btt:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}
/*------------------ main----------------- */
.botton-section {
  margin-top: 94px;
  margin-bottom: 34px;
}
.but-link-1 {
  width: 73px;
  height: 38px;
  border-radius: 4px;
  margin-right: 8px;
}
.but-link-2 {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  margin-right: 8px;
}
.but-link-3 {
  width: 145px;
  height: 38px;
  border-radius: 4px;
  margin-right: 8px;
}
.but-link-4 {
  width: 103px;
  height: 38px;
  border-radius: 4px;
  margin-right: 8px;
}
.but-link-5 {
  width: 130px;
  height: 38px;
  border-radius: 4px;
}
.main-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.button-menu {
  margin-left: 270px;
  margin-bottom: 34px;
}
.direct-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.img-section {
  display: flex;
}
.img-main {
  width: 1170px;
  height: 1360px;
}

/* -----------------footer -----------------*/
